.text {
    font-family: 'Roboto', serif;
    margin-left: 50px
}

.sub-group {
    text-align: center;
}

#box-model-demo {
    width: 100px;
    height: 100px;
    /* 10 pixels padding on all sides */
    padding: 10px;
    border-radius: 5px;
    border-width: 5px;
    border-color: cornflowerblue;
    border-style: solid;
    margin: 10px;
}
